body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

#container{
    background-color: #a7f3d0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
}

#dash{
    background-color: #047857;
    grid-area: 1/1/4/2;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 6fr;
    gap:20px;
    
}

#dash #logo{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#dash #logo #dashtitle{
    font-weight: bolder;
    font-size: large;
}

#dash .dashicon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#dash #regnav{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#dash #regnav .regnavicon{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    
    
}

#dash #regnav .regnavicon img{
    position: relative;
    
    left: 40%;
    max-height: auto;
    max-width: 50%;
    
}

#settings{
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}

#settings .settingsicon{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

#settings .settingsicon img{
    position: relative;
    left: 40%;
    max-width: 50%;
    max-height: auto;
}

#header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    background-color: #ecfdf5;
    grid-area: 1/2/1/4;
}

#header #search{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: 1/1/2/3;
}

#eyeglassdiv{
    display: grid;
}

#eyeglass{
    width: 50px;
    justify-self: right;
    align-self: center;
}

#searchbar{
    display: grid;
}

#searchh{
    width:80%;
    border-radius: 10px;
    border-style: none;
    align-self: center;
    background-color: darkgrey;
    height: 25px;
    font-weight: 500;
}

#header #usernav{
    display: grid;
    grid-template-columns: 3fr 1fr 5fr;
    justify-content: center;
    align-content: center;
}


.flex{
    display: grid;
    place-items: center;
    text-align: center;
    font-weight: 500;
}


#navuser1{
    width: 50px;
    height:auto;
    border-radius: 50%;
    justify-self: center;
}

#header #usernav #bellicon{
    width:25px;
    
}
#header #curruser{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap:20px;
    grid-area: 2/1/3/2;
}

#curruser #heycurr{
    text-align: left;
}

#curruser #heycurr p{
    font-weight:600;
    
}

#curruser #profilepic{
    
    justify-self: right;
}

#header #curruser #currUserImage{
    border-radius: 50%;
    height: 100px;
    width: auto;
    margin: 0px;
}

#header #filter{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-content: center;
}

#header #filter #filteropt1{
    grid-column-start: 2;
    grid-column-end: 3;
}

#header #filter #filteropt2{
    grid-column-start: 3;
    grid-column-end: 4;
}

#header #filter #filteropt3{
    grid-column-start: 4;
    grid-column-end: 5;
}

.filterbtn{
    border-style: none;
    background-color: #047857;
    border-radius: 15px;
    width: 100%;
    height: 125%;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    
    
}
#projects{
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-area: 2/2/4/3;

}

#projects #projectheader{
    align-self: center;
    margin: 10px;
}

#projects #cardheader{
    grid-row-start: 1;
    
}

#projects #cardcontainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-row-start: 2;
}

#projects .card{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 5fr 1fr;
    background-color: #ecfdf5;
    margin: 20px;
    border-radius: 10px;
    border-left: 10px solid #047857;
    
}

.card .cardtext{
    margin: 10px;
    grid-area: 1 1;
}

.card .cardtext .cardHeader{
    font-weight: 600;
}

.cardicons{
    grid-area: 1 2 2 3;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.icon1{
    display:grid;
    grid-column-start: 8;
    margin: 10px;
     
}

.cardicons .icon2{
    display: grid;
    grid-column-start: 9;
    margin: 10px;
}

.cardicons .icon3{
    display: grid;
    grid-column-start: 10;
    margin: 10px;
}
.card .cardicons img{
    width: 25px;
    align-self: end;
    justify-self: end;
    
}

#announcements{
    background-color: #a7f3d0;
    display:grid;
    grid-template-rows: 1fr 4fr;
    grid-area: 2/3;
    padding: 20px;
}

#announcements #posts{
    background-color: #ecfdf5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}

#announcements #posts .post:not(:first-child){
    border-top-style: solid;
    border-top-color: slategrey;
    border-top-width: 1px;
    gap:3px;
}

#posts .post{
    margin: 10px;
}

#posts .post .postHeader{
    font-weight: 700;
} 

#trending{
    background-color: #a7f3d0;
    display:grid;
    grid-template-rows: 1fr 4fr;
    grid-area: 3/3;
    padding: 20px;
    margin: 5px;
}

#trending #users{
    background-color: #ecfdf5;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

#users .user{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.user .userpic{
    display: grid;
    justify-content: center;
    margin: 4px;
}

.user .userinfo{
    
    margin: 0px;
    line-height: 2px;
    
}

#users .user .userpic img{
    width: 50px;
    border-radius: 50%;
}
