body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    background-color: #a7f3d0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

#dash{
    background-color: #047857;
    grid-area: 1/1/4/2;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 6fr;
    gap:20px;
    
}

#dash #logo{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#dash #logo #dashtitle{
    font-weight: bolder;
    font-size: large;
}

#dash .dashicon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#dash #regnav{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#dash #regnav .regnavicon{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    
    
}

#dash #regnav .regnavicon img{
    position: relative;
    
    left: 40%;
    max-height: auto;
    max-width: 50%;
    
}

#settings{
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}

#settings .settingsicon{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

#settings .settingsicon img{
    position: relative;
    left: 40%;
    max-width: 50%;
    max-height: auto;
}

#header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    background-color: #ecfdf5;
    grid-area: 1/2/1/4;
}

#header #search{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: 1/1/2/3;
}

#searchh{
    width:auto;
}

#header #curruser{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap:20px;
    grid-area: 2/1/3/2;
}

#curruser #heycurr{
    text-align: left;
}

#curruser #heycurr p{
    font-weight:600;
    
}

#curruser #profilepic{
    
    justify-self: right;
}

#header #curruser #currUserImage{
    border-radius: 50%;
    height: 100px;
    width: auto;
    margin: 0px;
}

#header #filter{
    grid-area: 2/2/3/3;
}

#projects{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-area: 2/2/4/3;

}

#projects #cardheader{
    grid-row-start: 1;
}

#projects #cardcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-row-start: 2;
}

#projects .card{
    background-color: #ecfdf5;
    margin: 20px;
}

#announcements{
    background-color: #a7f3d0;
    display:grid;
    grid-template-rows: 1fr 4fr;
    grid-area: 2/3;
    padding: 20px;
}

#announcements #posts{
    background-color: #ecfdf5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}

#announcements #posts .post:not(:first-child){
    border-top-style: solid;
    border-top-color: slategrey;
    border-top-width: 1px;
    gap:3px;
}

#trending{
    background-color: #a7f3d0;
    display:grid;
    grid-template-rows: 1fr 4fr;
    grid-area: 3/3;
    padding: 20px;
}

#trending #users{
    background-color: #ecfdf5;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
